#map {
    height: 100vh;
} 

.mdl-layout {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
}

.mdl-cell .mdl-card {
    width: 100%;
}

.mdl-card__media img {
    width: 100%;
}

.mdl-textfield__label {
    color:white;
    font-style: italic;
    padding-left: 30px;
}

.mdl-textfield__input {
    color:white;
}

.mdl-layout__title {
    padding-right:15px;
}